extends ./layout/layout.pug

block content


  section#contact-section
    .container-fluid
      .row
        label PHONE: 0413 666 888
        label ADDRESS: 987 The Entrance Road, Erina, NSW 2250
        label ABN: 37 123 870 260


  section#hero-section
    .center-content.container.p-0
      .row.w-100.align-items-center
        .col-sm-12.col-md-6.p-0
          h1 Sunny Coast Handyman
          button.btn.btn-success(type='button') 
            img.mx-auto(src='assets/images/checkbox.png', alt='Checkbox', title='Checkbox')
            p
              | Make a booking / 
              br
              | Request a quote
        //-col
        .col-sm-12.col-md-6.p-0
          .intro.boxshadow.d-none.d-md-block
            h2 Introduction
            p Looking for a trustworthy, experienced and licensed Handyman on the Central Coast?
            p Then look no further!
            p Hi, I’m Ben from Sunny Coast Handyman Services, and I have been proudly servicing the Central Coast for just over 7 years. I am fully licensed and insured so you can feel confident when booking me for your next job.
            p I am a family man who loves getting out for wave whenever I can, and spending time with my wife and 2 young kids.
            p Call me a call to discuss your next job – I'd love to speak to you!
        //-col
      //-row
      .row.w-100.service-container
        .services.boxshadow
          img(src='assets/images/ABNChecked.png', alt='ABN Checked', title='ABN Checked')
          p ABN Checked
        .services.boxshadow
          img(src='assets/images/LicensedAndInsured.png', alt='Licensed and Insured', title='Licensed and Insured')
          p Licensed and Insured
        .services.boxshadow
          img(src='assets/images/Fix4meVerified.png', alt='Fix4me Verified', title='Fix4me Verified')
          p Fix4me Verified
        .services.boxshadow
          img(src='assets/images/EmergencyWork.png', alt='Emergency Work', title='Emergency Work')
          p Emergency Work
      //-rom


  section#fix4meverified.d-flex.justify-content-center
    .center-content.container.boxshadow
      .row.align-items-center.w-100
        .col-sm-12.col-lg-3
          img.mx-auto(src='assets/images/fix4me2orange.png', alt='Fix4me', title='Fix4me')
        .col-sm-12.col-lg-6
          h2 Fix4me Verified Trade Supplier
          button.btn.btn-success(type='button') View my profile
        .col-sm-12.col-lg-3
          p 127 completed jobs 
            br
            | 96% completion rate 
            br
            | Average Rating 4.8 Stars


  section#jobphotos
      .center-content.container
        h2 Our Job Photos
        .row.no-gutters
          .col-md-4.col-sm-12.center-img
            img(src='assets/images/jobphoto1.png', alt='Job Photo', title='Job Photo')
          .col-md-4.col-sm-12.center-img
            img(src='assets/images/jobphoto2.png', alt='Job Photo', title='Job Photo')
          .col-md-4.col-sm-12.center-img
            img(src='assets/images/jobphoto3.png', alt='Job Photo', title='Job Photo')
          .col-md-4.col-sm-12.center-img
            img(src='assets/images/jobphoto4.png', alt='Job Photo', title='Job Photo')
          .col-md-4.col-sm-12.center-img
            img(src='assets/images/jobphoto5.png', alt='Job Photo', title='Job Photo')
          .col-md-4.col-sm-12.center-img
            img(src='assets/images/jobphoto6.png', alt='Job Photo', title='Job Photo')
          button.btn.btn-success(type='button') VIEW FULL GALLERY


  section#tradeservices
      .center-content.container-fluid
        h2 Trade Services
        .row.w-100
          .col.d-flex.flex-wrap.justify-content-center
            .trade-item.checked Air Conditioning/Heating
            .trade-item Appliance New/Repairs
            .trade-item.checked Asbestos Inspection
            .trade-item.checked Asbestos Management
            .trade-item Architecture
            .trade-item Balustrudes
            .trade-item Ashphalt Concreting
            .trade-item Balustrades
            .trade-item Bath Resurfacing
            .trade-item Bathroom Renovations
            .trade-item Bin Cleaning
            .trade-item.checked Carpet Repair
            .trade-item Blinds, Curtains, Awnings
            .trade-item Bricklaying
            .trade-item Building
            .trade-item Building Consultancy or Certification
            .trade-item Cabinets
            .trade-item.checked Cabling - Phone/Data/TV

        button.btn.btn-success(type='button')
          i.fas.fa-angle-right
          | VIEW ALL SERVICES


  section#recentreviews
      .center-content.container
        h2 Our Recent Reviews
        .row.w-100
          .col-sm-12.col-lg-6
            .rc-item
              .rc-top
                p.name John Doe
                img(src="assets/images/ratings5.png", alt="5 Star Review", title="5 Star Review")
              .rc-body
                p.title Fixing windows and installing new door
                p.description Psellus metus massa, auctor ut condimentum dictum, tincidunt nec arcu. Nam pharetra urna ac metus pellentesque porta. Praesent placerat tortor nec lacinia venenatis.“
            //- rc-item
          .col-sm-12.col-lg-6
            .rc-item
              .rc-top
                p.name Jane Smith
                img(src="assets/images/ratings5.png", alt="5 Star Review", title="5 Star Review")
              .rc-body
                p.title Install carpets in 2 rooms
                p.description Sed varius dignissim augue at sodales. Sed non libero ut dolor feugiat fringilla at sed metus. Nunc mi ante, auctor fringilla et purus quis, pharetra blandit purus. 
            //- rc-item
        .row.w-100
          .col-sm-12.col-lg-6
            .rc-item
              .rc-top
                p.name Samuel L 
                img(src="assets/images/ratings5.png", alt="5 Star Review", title="5 Star Review")
              .rc-body
                p.title Coodo, ornare ullamcorpern
                p.description Gravida lorem nisi ac massa. Nunc dui odio, consequat ac odio at, facilisis pulvinar urna. Cras purus turpis, tincidunt vehicula libero commodo, ornare ullamcorper metus. 
            //- rc-item
          .col-sm-12.col-lg-6
            .rc-item
              .rc-top
                p.name Peter Peterson
                img(src="assets/images/ratings5.png", alt="5 Star Review", title="5 Star Review")
              .rc-body
                p.title Plios odo, ornare ullamaw eaol.
                p.description Curabitur lobortis magna nulla, at tristique urna convallis ut. Vivamus iaculis metus non arcu viverra bibendum. Vestibulum efficitur, ex a vestibulum congue, eros nisi blandit dui,
            //- rc-item

        button.btn.btn-success(type='button')
          i.fas.fa-angle-right
          | VIEW ALL REVIEWS


  section#ourserviceareas
      .center-content.container
        .row
          .col 
            h2 Our Service Areas
            h3 Postcode: 2250
            p Avoca Beach, Bensville, Bouddi, Copacabana, Davistown, Green Point, Kincumber, Kincumber South, Macmasters Beach, Picketts Valley, Saratoga, Yattalunga, Erina Heights, 
              br
              | Forresters Beach, North Avoca, Terrigal, Wamberal, Bucketty, Calga, Central Mangrove, East Gosford, Erina, Erina Fair, Glenworth Valley, Gosford, Greengrove, Holgate ...
        .row  
          .col.text-center
            button.btn.btn-success(type='button')
              i.fas.fa-plus
              | EXPAND SERVICE AREAS



block scripts
  // External Script goes here...
  script.
    $(document).ready(function() {

    });
