nav.navbar.navbar-expand-lg.navbar-light.bg-light.align-items-end
  a.navbar-brand(href='/') 
    img(src='assets/images/logo.png', alt='Sunny Coast Handyman', title='Sunny Coast Handyman')
  button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
    span.navbar-toggler-icon
  #navbarSupportedContent.collapse.navbar-collapse.flex-row-reverse
    ul.navbar-nav
      li.nav-item.active
        a.nav-link(href='#') HOME
      li.nav-item
        a.nav-link(href='#') ABOUT
      li.nav-item
        a.nav-link(href='#') REVIEWS
      li.nav-item
        a.nav-link(href='#') GALLERY
      li.nav-item
        a.nav-link(href='#') MAKE PAYMENT



