header
  a(href='/')
    img(src='assets/images/logo.png', alt='Sunny Coast Handyman', title='Sunny Coast Handyman')

nav.navbar.navbar-expand-lg.navbar-light
  button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
    span.navbar-toggler-icon
  #navbarSupportedContent.collapse.navbar-collapse.justify-content-center
    ul.navbar-nav
      li.nav-item
        a.nav-link(href='javascript:void(0)') ABOUT
      li.nav-item
        a.nav-link(href='javascript:void(0)') REVIEWS
      li.nav-item
        a.nav-link(href='javascript:void(0)') GALLERY
      li.nav-item
        a.nav-link(href='javascript:void(0)') MAKE PAYMENT


